
.flip img {
    height: 80%;
    width: 80%;
    padding: 10%;
}

.slant{
    width: 35%;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    text-align: center;
    color: #D1D7E4;
    border: none;
    outline: none;
    align-items: center;
    text-align-last: center;
}

.slant::-webkit-inner-spin-button {
    display: none;
}