.rotate-tool {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    white-space: nowrap;
    text-align:  center;
    color: #D1D7E4;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 20px;
    margin: 40px 10%;

}

.buttons {
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.button {
    background-color: #19202A;
    margin: 7%;
    height: 4vw;
    width: 32%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button img {
    height: 100%;
    width: 100%;
}

.ok {
    margin: 25%;
}

.flip img {
    height: 80%;
    width: 80%;
    padding: 10%;
}