.download {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    white-space: nowrap;
    text-align:  center;
    color: #D1D7E4;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.download img {
    width: 30vw;
    height: 30vh;
    display:block;
    margin:auto;
    box-sizing: border-box;
    cursor:pointer;

}

.home {
    padding-top: 10vh;
    flex-basis: 100%;
    justify-content: center;
    box-sizing: border-box;

}

.choose-label {
    padding-top: 5vh;
    font-size: 3vw;
    box-sizing: border-box;
}

.dow_image {
    width: 50%;
}
.dow_image input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none;
    height: 0;
}
.dow_image .form-group{
    width: 70%;
    border:2px dashed grey;
    border-radius:5px;
    cursor:pointer;
    text-align:center
}


#file {
outline:0;opacity:0;pointer-events:none;user-select:none
}