.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 100px;
    height: 100vh;
    background-color: #19202A;
    box-sizing: border-box;
}

.link {
    padding: 20%;
}

.active {
    background-color: #242C39;

}

.menu-item{
    display: flex;
    flex-direction: column;
}

