.cut_b{
    margin: 1%;
    width: 40%;
}

.cut_b img{
    width: 80%;
}

.title {
    font-size: 2vw;
    margin-bottom: 50px;
}

.save_proportion {
    font-size: 1vw;
    height: 2vw;
    width: 95%;
    align-self: center;
}
.size{
    display: flex;
    width: 35%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    text-align: center;
    color: #D1D7E4;
    border: none;
    outline: none;
    align-items: center;
    text-align-last: center;
    margin: 3%;
}

.size::-webkit-inner-spin-button {
    display: none;
}
