.cut_b{
    margin: 3%;
    width: 40%;
}

.cut_b img{
    width: 80%;
}

.title {
    font-size: 2vw;
    margin-bottom: 50px;
}

.save_proportion {
    font-size: 1vw;
    height: 2vw;
    width: 95%;
    align-self: center;
}
